@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --fuente: Balsamiq Sans, sans-serif;
}

body{
   
    background-repeat: no-repeat;
    background-size: cover;   
    background-color:black;
    font-family: var(--fuente);
}

/* h1{
    
} */

